:root {
    /*theme*/
    --theme-color-one: skyblue;
    --theme-color-two: #c9e5ee;
    /*player*/
    --scale: 1;
    --player-tX: 0;
    --player-tY: 0;
    --player-rotate: 0;
    --player-transitionTime : 50;
    /* design */
    --setting-key: 0.7;
}

* {
    font-family: "Merriweather Sans", sans-serif;
    color: silver;
    text-shadow: 0px 0px 10px var(--theme-color-one);
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    background: radial-gradient(#444444 1px, black);
    overflow: hidden;
}

.page {
    width: 100vw;
    height: 100vh;
}

.main-info{
    text-shadow: none;
    font-size: 1vw;
    width: 100%;
    text-align-last: center;
    position: absolute;
    top: 25vh;
    animation: blink 2s ease infinite;
}

.result-pressEsc, .setting-pressEsc{
    height: 5px;
    font-size: 1vw;
    color: silver;
    animation: blink 2s ease infinite;
    text-shadow: none;
    position: absolute;
    top: 25vh;
    left: 6.7vw;
}
@keyframes blink {
    0%{opacity: 0.4;}
    50%{opacity: 0.01;}
    100%{opacity: 0.4;}
}

#scorebar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 5vw;
    display: flex;
    align-items: center;
}

#score{
    font-size: 1vw;
    position: absolute;
    right: 2vw;
}

#musicname{
    font-size: 1vw;
    position: absolute;
    left: 2vw;
}
#result-header, #setting-header{
    width: 90vw;
    height: 10vh;
    position: absolute;
    top: 15vh;
    left: 5vw;
    display: flex;
    align-items: center;
    padding-left: 1.5vw;
    font-size: 4vw;
}
#setting-header{
    text-shadow: 0px 0px 12px silver;
}
.result-table, .setting-table{
    width: 90vw;
    height: 56.5vh;
    position: absolute;
    top : 33vh;
    left: 5vw;
    border-collapse:collapse;
}
.result-desc, .setting-desc{
    text-align: left;
    font-size: 1.8vw;
    text-shadow: none;
    padding-left: 1.5vw;
    height: 10vh;
}
.setting-specific-desc{
    text-shadow: none;
    font-size: 0.7vw;
    position: absolute;
    top: 41vh;
    opacity: 0.4;
}
.setting-noteDesc{
    left: 6.5vw;
}
.setting-soundAdjustmentDesc{
    left: 38vw;
}
.result-desc{
    border-bottom: 2px solid silver;
}
.result-desc:first-child, .result-inf:first-child{
    width: 73%;
    border-right: 2px solid silver;
}
.setting-desc:first-child, .setting-inf:first-child{
    width: 35%;
}
.setting-inf:first-child{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.keycap{
    width: 3.4vw;
    height: 3.7vw;
    border-radius: 1vw;
    border : 0.2vw solid silver;
    color: silver;
    text-shadow: none;
    font-size: 1.6vw;
    padding-top: 0.3vw;
    padding-left: 0.6vw;
    background: #333333;
    position: absolute;
    box-shadow: 0px 0px 3px silver;
}

.keycap:nth-child(1){
    transform: translate(calc(var(--setting-key) * -5vw), calc(var(--setting-key) * -8.66vw));
}
.keycap:nth-child(2){
    transform: translate(calc(var(--setting-key) * 5vw), calc(var(--setting-key) * -8.66vw));
}
.keycap:nth-child(3){
    transform: translate(calc(var(--setting-key) * 10vw), 0);
}
.keycap:nth-child(4){
    transform: translate(calc(var(--setting-key) * 5vw), calc(var(--setting-key) * 8.66vw));
}
.keycap:nth-child(5){
    transform: translate(calc(var(--setting-key) * -5vw), calc(var(--setting-key) * 8.66vw));
}
.keycap:nth-child(6){
    transform: translate(calc(var(--setting-key) * -10vw), 0);
}

.result-desc:last-child, .result-inf:last-child{
    border-left: 2px solid silver;
}
.result-inf{
    height: 46.5vh;
}
.result-performance-evaluate .result-note{
    display: flex;
    width: 100%;
    height: 20%;
    font-size: 2vw;
    justify-content: space-between;
    align-items: center;
}
.result-performance-evaluate .result-note {
    text-align: left;
}
.result-performance-evaluate .result-note .key, .txt-inner .number, .txt-inner .desc, .txt-inner .big{
    text-shadow: none;
}
.result-performance-evaluate .result-note .value{
    text-align: right;
    text-shadow: none;
}
.result-evaluate{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.result-score-evaluate{
    height: 100%;
    width: 62%;
}
.result-performance-evaluate{
    height: 100%;
    width: 38%;
    display: flex;
    align-items: center;
}
.result-note-container{
    width: 80%;
    height: 75%;
}
.result-level-info{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.result-level{
    width: 100%;
    height: 50%;
}
.result-highscore{
    width: 100%;
    height: 50%;
}
.result-score-evaluate{
    display: flex;
}
.result-score-evaluate .txt{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.result-score-evaluate .rank{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.result-circle{
    width: 9vw;
    height: 9vw;
    border: 4px solid silver;
    border-radius: 50%;
    margin-left: 2vw;
    text-align: center;
    line-height: 9vw;
    font-size: 5vw;
    font-weight: 500;
    text-shadow: none;
    /* box-shadow: 0px 0px 12px var(--theme-color-one); */
}
.txt .txt-inner{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 1vw;
}
.txt .txt-inner .number{
    font-size: 6vw;
}
.txt .txt-inner .desc{
    font-size: 1vw;
}
.result-level, .result-highscore{
    display: flex;
    justify-content: center;
    align-items: center;
}
.result-level-info .txt-inner{
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.result-level-info .result-level .txt-inner{
    justify-content: flex-end;
}
.result-level-info .result-highscore .txt-inner{
    justify-content: flex-start;
}
.result-level-info .result-level .txt-inner .big{
    font-size: 3.3vw;
}
.result-level-info .result-highscore .txt-inner .big{
    font-size: 5vw;
}
.result-level-info .txt-inner .desc{
    font-size: 1vw;
}

#player {
    display: flex;
    justify-content: center;
    position: fixed;
    top: calc(50vh + calc(var(--player-tY) * 1px));
    left: calc(50vw + calc(var(--player-tX) * 1px));
    transform: rotate(calc(var(--player-rotate) * 1deg));
    transition: calc(var(--player-transitionTime) * 1ms) linear;
}

#player .road:nth-child(6n + 6),
.main-levels .main-vis-road:nth-child(6n + 1) {
    transform: rotate(90deg);
}
#player .road:nth-child(6n + 1),
.main-levels .main-vis-road:nth-child(6n + 2) {
    transform: rotate(150deg);
}
#player .road:nth-child(6n + 2),
.main-levels .main-vis-road:nth-child(6n + 3) {
    transform: rotate(210deg);
}
#player .road:nth-child(6n + 3),
.main-levels .main-vis-road:nth-child(6n + 4) {
    transform: rotate(270deg);
}
#player .road:nth-child(6n + 4),
.main-levels .main-vis-road:nth-child(6n + 5) {
    transform: rotate(330deg);
}
#player .road:nth-child(6n + 5),
.main-levels .main-vis-road:nth-child(6n + 6) {
    transform: rotate(30deg);
}

#show-combo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(var(--scale) * 100px);
    height: calc(var(--scale) * 100px);
    position: absolute;
    top: calc(50vh + calc(var(--player-tY) * 1px) + var(--scale) * -50px);
    left: calc(50vw + calc(var(--player-tX) * 1px) + var(--scale) * -50px);
    transition: 50ms ease;
}

#combo {
    font-size: calc(var(--scale) * 35px);
}

#accuracy {
    font-size: calc(var(--scale) * 12px);
}

.road {
    display: flex;
    justify-content: center;
    width: calc(var(--scale) * 60px);
    height: calc(var(--scale) * 50vw);
    background: linear-gradient(
        to top,
        rgba(192, 192, 192, 0.03) 50%,
        rgba(192, 192, 192, 0.03) calc(100% - calc(var(--scale) * 51.9px)),
        transparent calc(100% - calc(var(--scale) * 51.9px))
    );
    transform-origin: top center;
    position: absolute;
    transition: calc(var(--player-transitionTime) * 1ms) linear;
}

.decision-line {
    width: 90%;
    height: calc(var(--scale) * 4px);
    background-color: silver;
    box-shadow: 0px 0px calc(var(--scale) * 6px) var(--theme-color-two);
    border-radius: calc(var(--scale) * 3px);
    position: absolute;
    top: calc(var(--scale) * 50px);
    transition: calc(var(--player-transitionTime) * 1ms) linear;
}
#road1 .decision-line:nth-child(1) {
    background-color: var(--theme-color-two);
}

#music-box {
    width: calc(80% - 22px);
    height: 50%;
    left: 10%;
    position: absolute;
    top: 35%;
    border: 1px solid;
    padding: 10px;
}

.note {
    width: 90%;
    height: calc(var(--scale) * 4px);
    background-color: var(--theme-color-one);
    opacity: 0;
    border-radius: calc(var(--scale) * 3px);
    position: absolute;
    top: calc(var(--scale) * 50px);
    animation: none;
    z-index: 1;
}

.long-note-container {
    width: 90%;
    height: 100%;
    position: absolute;
    top: calc(var(--scale) * 50px);
    animation: none;
    z-index: 1;
}

.long-note {
    width: 100%;
    height: 100%;
    background-color: var(--theme-color-one);
    opacity: 0.1;
    animation: none;
    z-index: 1;
}
#title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 80vw;
    height: 20vh;
    left: 10vw;
    top: 5vh;
    font-size: 8vw;
    text-shadow: 0px 0px 1vw silver;
}

#level-container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 60vw;
    position: relative;
    left: 10vw;
    top: 30vh;
}

.main-levels {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vw;
    height: 5vw;
    position: absolute;
    transition: 0.3s ease;
}

.main-levels:hover{
    transform: scale(1.1);
}

.main-vis-road {
    display: flex;
    justify-content: center;
    width: calc(5vw * 60 / 100);
    transform-origin: top center;
    position: absolute;
}

.main-vis-bar {
    width: 90%;
    height: calc(5vw * 4 / 100);
    background-color: silver;
    border-radius: calc(5vw * 3 / 100);
    position: absolute;
    top: calc(5vw * 50 / 100);
}

.main-vis-lv-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 5vw;
    height: 5vw;
    position: absolute;
}

.main-vis-emoji {
    font-size: 1.85vw;
}

.main-vis-title {
    font-size: 0.6vw;
}

.small-lev-cont {
    width: 80vw;
    height: 10vw;
    display: flex;
    flex-direction: flex;
    position: relative;
    top: 2.5vw;
}

@keyframes note {
    0% {
        top: 100%;
        opacity: 1;
    }
    50% {
        top: calc(var(--scale) * 50px);
        opacity: 1;
    }
    55% {
        opacity: 0;
    }
    100% {
        top: calc(var(--scale) * 50px);
        opacity: 0;
    }
}

@keyframes long-note {
    0% {
        height: 100%;
    }
    100% {
        height: 0%;
    }
}
